<div class="row">
  <div class="column large-12">
    <h4><%= @restaurant.name %></h4>
  </div>
</div>
<div class="row">
  <div class="column medium-6">
    <h5><%= @restaurant.description %></h5>
  </div>
  <div class="column medium-6">
    <h5>Comments</h5>
    <%= react_component 'CommentList', comments: raw(render(template: 'comments/index.json.jbuilder')) %>
  </div>
</div>
